<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon>account_circle</mat-icon>
    <span style="font-size: 15px;margin-top: 8px; margin-right: 390px;">{{ username }}</span>
    <span style="font-size: 23px ;font-weight: bold;">Movie Booking App</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/movies">Home/movies</button>
    <button mat-button *ngIf="isAdmin" routerLink="/addmovie">Add Movie</button>
    <button mat-button routerLink="/viewtickets">view-transactions</button>

    <span class="username-icon">
    </span>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>