.login-container {
  display: flex;
  align-items: center;
  height: 80%;
  background-image:url("https://t3.ftcdn.net/jpg/02/55/67/62/360_F_255676210_fiOrmx7LosKnQrtNrWPllUrunUkqTuCy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 4px;
  width: 1366px;
  height: 600px;
}
mat-card {
  background-color: #B0E0E6;
  max-width: 400px;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-left:60%;
  margin-top:3%
}
mat-card-header {
  display: block;
  padding: 50px;
  text-align: center;
}
marquee{
  font-weight:bold;
  font-size:30px;
  color:#002244;
  font-family: ui-sans-serif;
  word-spacing: 5px;
}

mat-card-title{
  font-family: ui-sans-serif;
  font-weight: bold;
  font-size:25px;
  color:#002244;
}
mat-label{
  color:black;
}
.message {
  margin-top: 16px;
  font-weight: bold;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
.toggle-icon {
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.links {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #002244;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}

