<app-navbar></app-navbar>
<mat-card>
    <mat-card-header style="border-color: black;">
      <mat-card-title>Book Movie</mat-card-title>
      <div *ngIf="bookingSuccess!==null"
        [ngClass]="{'error-message': !bookingSuccess, 'success-message': bookingSuccess}" class="message">
        {{ bookingSuccess ? 'booked movie!' : 'not enough tickets!' }}
      </div>
    </mat-card-header>
    <mat-card-content>
      
<div class="booking-container">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="form-container">
      <mat-form-field>
        <mat-label style="color: black;">Movie Name</mat-label>
        <input matInput [value]="movieName" disabled>
      </mat-form-field>
      <mat-form-field>
        <mat-label style="color: black">Theater Name</mat-label>
        <input matInput [value]="theaterName" disabled>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label style="color: black;">Number of Tickets</mat-label>
        <input matInput formControlName="numberOfTickets" type="number" required>
        <mat-error *ngIf="bookingForm.get('numberOfTickets')?.hasError('required')">
          Number of Tickets is required
        </mat-error>
      </mat-form-field>
     
      <div class="button-container">
        <button mat-raised-button style="background-color:rgb(70, 158, 154);color:black" type="submit">Book Now</button>
      </div>
    </form>
  </div>
</mat-card-content>
</mat-card>
  