.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom,  rgb(198, 222, 240), #97dfe9);
 
}
mat-card {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: -19px;
  background-color: #dff4f7;
  margin-bottom: 40px;
}
 


  
mat-card-header {
  display: block;
  padding: 50px;
  text-align: center;

}
mat-card-title{
  font-family: ui-sans-serif;
  font-weight: bold;
  font-size:25px;
  color:#002244;
}
mat-form-field {
  padding: 5px;
  width: 100%;

}
.message {
  margin-top: 16px;
  font-weight: bold;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
.mat-form-field {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.mat-form-field {
  width: 100%;
  padding: 5px;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
}

.toggle-icon {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.links {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #002244;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
