.card-header{
    font-size: 20px;
    font-family: ui-sans-serif;
    color:green
  }
  mat-table{
    background-color: rgb(83, 226, 226);
    color: rgb(83, 226, 226);
  }
  mat-card{
    background-color:rgb(199, 253, 253);
  }
  mat-table {
    font-weight: bold;
    font-family: sans-serif;
  }
  th{
    color: rgb(4, 55, 68);
    
  }
  
  mat-card-title{
    display: block;
   
    text-align: center;
  }
  mat-card-header {
    display: block;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    font-family: ui-sans-serif;
    color: rgb(219, 235, 241);
  
  }

.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .seat-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }
  
  .row-label {
    margin-right: 10px;
  }
  
  .seat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(98, 194, 19);
    
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .red {
    background-color: red;
  }
  .green{
    background-color: green;
  }
  .spacer {
    margin-left: 20px;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  table{
    width: 100%;
  }
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }